* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-size: 1.6rem;
  }


  main {
    height: 80vh;
  }

  footer {
    height: 15vh;
    background-color: rgb(225, 225, 225);
  }

  /* -------header------ */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    background-color: rgb(205, 254, 254);
  }

  figure {
    margin-left: 3.2rem;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }

  nav ul li {
    margin-right: 3.2rem;
    list-style: none;
  }

  /* ------content------ */

  main {
    display: flex;
    height: 80vh;
  }

  aside {
    width: 20vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(225, 252, 252);
  }

  aside div {
    padding: 1.6rem;
    height: 16vh;
    margin: 2vh;
    border-radius: 0.8rem;
    background-color: antiquewhite;
  }

  section {
    left: 20vw;
    width: 80vw;
    padding: 2.4rem;
    background-color: rgb(244, 244, 244);
  }

  /* FOOTER */

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .footer-social, .footer-info {
    display: inline-block;
    margin: 4.8rem;
  }
  .footer-info {
    position: absolute;
    right: 1.5rem;
  }